
html, body { height: 100%; width: 100%;}
body {   
    background-image: url(./assets/img/about.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: 'Teko', sans-serif;
    position: relative; 
}
.filter-blur-opacity {
    height: 100vh;
    width: 100%;
    background: rosybrown;
    position: absolute;
    filter: blur(64px) opacity(0.2);
    z-index: 4;
  }
  .image-div {
      position: absolute;
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-attachment: fixed;
      background-position: center;
      z-index: 1;
  }
  .image-div-old {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 2;
}
 .part {
     width: calc(100% / 11);
     background-size: cover;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-attachment: fixed;
      background-position: center;
 }
  .main {
      display: flex;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 5;
  }
  .main__content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .content__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__author-name,
  .header__author-profession {
      font-size: 5em;
      letter-spacing: 5px;
      line-height: 70px;
  }
  .header__author-dev-text {
      font-size: 7em;
      letter-spacing: 15px;
  }
  .content__header > * {
      display: none;
  }
  /* display every element when user sliding on screen */
  .content__header.name-block > * {
      display: block;
  }
  .content__header.project-block > * {
    display: block;
}
.content__header.skills-block > * {
    display: block;
}
.content__header.contact-block > * {
    display: block;
}
@media screen and (max-width: 824px) and (min-width:780px) {
    .header__author-name,
    .header__author-profession {
        font-size: 2em;
        line-height: 40px;
    }
    .header__author-dev-text {
        font-size: 3em;
    }
}
  
@media screen and (max-width: 740px) and (min-width:375px) {
  .header__author-name,
  .header__author-profession {
      font-size: 2em;
      line-height: 40px;
  }
  .header__author-dev-text {
      font-size: 3em;
  }
}
@media screen and (max-width: 360px) {
    .header__author-name,
  .header__author-profession {
      font-size: 1.5em;
      line-height: 30px;
  }
  .header__author-dev-text {
      font-size: 2.5em;
  }
}