
html, body { height: 100%; }
body {   
    background-image: url(./assets/img/about.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: 'Teko', sans-serif;
    position: relative; 
}
.filter-blur-opacity {
    height: 100vh;
    width: 100%;
    background: rosybrown;
    position: absolute;
    filter: blur(64px) opacity(0.2);
    z-index: 4;
  }
  .image-div {
      position: absolute;
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-attachment: fixed;
      background-position: center;
      z-index: 1;
  }
  .image-div-old {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 2;
}
 .part {
     width: calc(100% / 11);
     background-size: cover;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-attachment: fixed;
      background-position: center;
 }
  .main {
      display: flex;
      height: 100vh;
      width: 100%;
      position: absolute;
      z-index: 5;
  }
  .main__content {
    width: 100%;
    height: 100%;
  }
  .content__header {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .header__author-name,
  .header__author-profession {
      font-size: 5em;
      letter-spacing: 5px;
      line-height: 70px;
  }
  .header__author-dev-text {
      font-size: 7em;
      letter-spacing: 15px
  }
  
@media screen and (max-width: 376px) {
    .main__content {
        padding: 45% 7%;
    }
}