@font-face {
    font-family: Microsoft Yi Baiti; 
    src: url(./assets/fonts/msyi.ttf); 
}
@font-face {
    font-family: Chaparral Pro; 
    src: url(./assets/fonts/ChaparralPro-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: Chaparral Pro; 
    src: url(./assets/fonts/ChaparralPro-Bold.otf);
    font-weight: bold;
}
html, body { height: 100%; }
body {   
    background-image: url(./assets/img/bg.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    color: white;
    font-family: 'Chaparral Pro';    
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}
.main__name-author {
    font-family: 'Microsoft Yi Baiti';
    font-size: 6em;
    opacity: 0.85;
}
.main__specialization {
    font-weight: bold;
    font-size: 5em;
}
.main__skills {
    display: flex;
    flex-direction: column;
}
.skills__caption {
    display: flex;    
    justify-content: center;
    font-size: 2em;
    padding: 30px 0;
}
.skills__icons {
    display: flex;
}
.icons__1, .icons__2,
.icons__3, .icons__4,
.icons__5, .icons__6 {
    display: block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icons__1 {    
    background-image: url(./assets/img/skills/HTML5.png);    
}
.icons__2 {
    background-image: url(./assets/img/skills/CSS3.png);
    background-position-x: 10px;
}
.icons__3 {
    background-image: url(./assets/img/skills/js.png);
    background-position-x: 5px;
}
.icons__4 {
    background-image: url(./assets/img/skills/ts.png);
    width: 65px;
    margin-top: 5px;
    margin-right: 15px;
}
.icons__5 {
    background-image: url(./assets/img/skills/angular.png);
}
.icons__6 {
    background-image: url(./assets/img/skills/webpack.png);
}

.main__contact {
    display: flex;
    height: 170px;    
    align-items: center;
}
.btn {
    border: 0;
}
.main__btn-contact { 
    background: transparent;
    color: white;
    font-size: 2em;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: 0.4s border-bottom;
}
.main__btn-contact:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 1);;
}